<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="./css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="./css/feather.min.css">
	<link rel="stylesheet" type="text/css" href="./css/et-line.min.css">
	<link href='https://fonts.googleapis.com/css?family=Montserrat&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Muli&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <title>Error404 - MONO Premium Web Template from Designova</title>

    
    
</head>


<body>
    <!-- Preloader
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div id="preloader">
        <div id="status"></div>
    </div>
    <!-- end : preloader -->
<!-- Main container -->
<div class="page-container">
    
<!-- polydom-0 -->
<div class="polydom bgc-white l-polydom sticky-nav" id="polydom-0">
	<div class="container polydom-sm">
		<nav class="navbar row mini-nav">
			<div class="navbar-header">
				<a class="navbar-brand ltc-black " href="index.html"><img alt="" title="" src="img/logo.png" height="50" width="50" class="lazyload" /> Mono</a>
				<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle menu-icon-thin-bars" data-toggle="collapse" data-target=".navbar-1">
					<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-1 nav-special sidebar-nav">
				<ul class="site-navigation nav navbar-nav ">
					<li>
						<a href="index.html"><img alt="" title="" class="nav-logo" src="img/logo.png"></a>
					</li>
					<li>
						<div class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Home<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="index.html">Intro Text</a>
								</li>
								<li>
									<a href="home-05.html">Campaign</a>
								</li>
								<li>
									<a href="home-03.html">Portfolio</a>
								</li>
								<li>
									<a href="home-04.html">Fullscreen</a>
								</li>
								<li>
									<a href="home-02.html">Slideshow</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a href="about.html">About</a>
					</li>
					<li>
						<a href="works.html">Works</a>
					</li>
					<li>
						<a href="journals.html">Journals</a>
					</li>
					<li>
						<a href="project.html">Project Info</a>
					</li>
					<li>
						<a href="contact.html">Contact</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<!-- polydom-0 END -->

<!-- polydom-31 -->
<div class="polydom bgc-white l-polydom none" id="polydom-31">
	<div class="container polydom-lg">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<h1 class="mg-md text-center tc-black  zoomIn animated">
					<strong>Not Found</strong>
				</h1>
				<h2 class="mg-md text-center  tc-outer-space zoomIn animated">
					The page you are looking for is not found
				</h2>
			</div>
		</div>
	</div>
</div>
<!-- polydom-31 END -->

<!-- polydom-32 -->
<div class="polydom bgc-isabelline l-polydom none" id="polydom-32">
	<div class="container polydom-xl">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="mg-md text-center ">
					404
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- polydom-32 END -->

<!-- polydom-33 -->
<div id="polydom-33" class="polydom bgc-white l-polydom none pulse animated">
	<div class="container polydom-xxl">
		<div class="row">
			<div class="col-sm-12">
				<div class="text-center">
					<span class="et-icon-map-pin icon-black icon-lg"></span>
				</div>
				<h3 class="mg-md polydoms-mobile-signup-text tc-onyx text-center ">
					<br> <br>Mono Creative. 23 B / Cortisia Nuo. Milan - 2<br>
				</h3>
				<div class="text-center">
					<a href="index.html" class="btn btn-sq btn-black btn-clean">@username<br></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- polydom-33 END -->

<!-- polydom-34 -->
<div class="polydom bgc-white l-polydom full-width-polydom" id="polydom-34">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
			</div>
		</div>
	</div>
</div>
<!-- polydom-34 END -->

<!-- ScrollToTop Button -->
<a class="polydom-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->



<!-- Footer - polydom-68 -->
<div class="polydom none bgc-black d-polydom" id="polydom-68">
	<div class="container polydom-lg">
		<div class="row">
			<div class="col-sm-10">
				<div class="footer-logo-wrap"><a href="index.html"><img alt="" title="" src="img/lazyload-ph.png" data-src="img/logo-foot.png" class="img-responsive lazyload footer-logo" height="57" width="57" /></a></div>
				<h2 class="polydom-mob-center-text  mg-clear">
					<br> <br> <br>Mono Interactive.<br>
				</h2>
				<p class="mg-md polydom-mob-center-text ">
					Copyright (C) 2017<br>
				</p>
			</div>
			<div class="col-sm-2">
				<h3 class="mg-md polydom-mob-center-text  text-right">
					<a href="about.html">About</a><br>
				</h3>
				<h3 class="mg-md polydom-mob-center-text  text-right">
					<a href="works.html">Works</a><br>
				</h3>
				<h3 class="mg-md polydom-mob-center-text  text-right">
					<a href="journals.html">Journals</a><br>
				</h3>
				<h3 class="mg-md polydom-mob-center-text  text-right">
					<a href="contact.html">Contact</a><br>
				</h3>
			</div>
		</div>
	</div>
</div>
<!-- Footer - polydom-68 END -->

<!-- polydom Group -->
<div class='polydom-group'>

<!-- Footer - polydom-69 -->
<div class="polydom bgc-white polydom-tile-12 l-polydom full-width-polydom" id="polydom-69">
	<div class="container">
		<div class="row row-no-gutters">
			<div class="col-sm-12">
				<img alt="" title="" src="img/bg/footer.jpg" data-src="img/bg/footer.jpg" class="img-responsive lazyload footer-tile" />
			</div>
		</div>
	</div>
</div>
<!-- Footer - polydom-69 END -->

</div>
<!-- polydom Group END -->

</div>
<!-- Main container END --> 

    
	<script src="./js/jquery-2.1.0.min.js"></script>
	<script src="./js/bootstrap.min.js"></script>
	<script src="./js/common.js"></script>
	<script src="./js/lazysizes.min.js" defer></script>
	<script src="./js/main.js"></script>
</body>
</html>
